@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Zen+Maru+Gothic:wght@700&display=swap");

@font-face {
  font-family: udevgothic-r;
  src: url("fonts/UDEVGothic-Regular.ttf");
}
@font-face {
  font-family: keyfont;
  src: url("fonts/keyboard-JP-Regular.otf");
}

:root {
  /* 基本体裁 */
  --base-font-size: 13Q;
  --base-line-height: 24Q;
  --page-width: 148mm;
  --page-height: 210mm;
  --letters-per-line: 49;
  --lines-per-page: 20;
  --page-margin-top: 15mm; /*左右マージンは天のみ指定できる。地は自動計算*/
  --page-margin-yshift: 0mm; /*天地マージンはデフォルト天地均等。yshift値でずらす*/
  --column-font-size: 12Q; /*コラムのフォントサイズ*/
  /* フォント指定 */
  --main-text-font: "Noto Sans JP"; /*メインフォント*/
  --header-font: "Zen Maru Gothic"; /*見出しフォント*/
  --code-font: "udevgothic-r"; /*コードフォント*/

  /* ページマージン自動計算 */
  --page-body-height: calc(var(--base-font-size) * var(--letters-per-line));
  --page-body-width: calc(var(--base-line-height) * var(--lines-per-page));
  --page-inline-margin: calc((var(--page-height) - var(--page-body-height)) / 2);
  --page-block-margin-start: var(--page-margin-top);
  --page-block-margin-end: calc(var(--page-width) - var(--page-body-width) - var(--page-block-margin-start));
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);

  font-family: var(--main-text-font);
  font-weight: 400;
  /* その他の指定 */
  text-spacing: auto;
  widows: 1;
  orphans: 1;
  writing-mode: vertical-rl;
}

@page {
  size: var(--page-width) var(--page-height);
  /* bleed: 3mm; */
  /* marks: crop cross; */
  margin-block-start: var(--page-block-margin-start);
  margin-block-end: var(--page-block-margin-end);
  margin-inline: var(--page-inline-margin);
  font-size: 10Q;
}
@page: left {
  /* background: url("img/R4_cssbk_smp_pageallbg_l.png"); */
  /* background-size: calc(var(--page-width) + 6mm); */
  /* background-repeat: no-repeat; */
  /* background-position: -3mm; */
  font-size: 11Q;
  font-family: var(--header-font);
  margin-inline-start: calc(var(--page-inline-margin) + var(--page-margin-yshift));
  margin-inline-end: calc(var(--page-inline-margin) - var(--page-margin-yshift));
  /* ノンブル */
  @bottom-left {
    content: counter(page);
    text-align: start;
    writing-mode: horizontal-tb;
  }
}
@page: right {
  /* background: url("img/R4_cssbk_smp_pageallbg_r.png");
  background-size: calc(var(--page-width) + 6mm);
  background-repeat: no-repeat;
  background-position: -3mm; */
  font-size: 11Q;
  font-family: var(--header-font);
  margin-inline-start: calc(var(--page-inline-margin) - var(--page-margin-yshift));
  margin-inline-end: calc(var(--page-inline-margin) + var(--page-margin-yshift));
  /* ノンブル */
  @bottom-right {
    content: counter(page);
    text-align: end;
    writing-mode: horizontal-tb;
  }
  @bottom-center {
    content: string(chapter-number, first) "　" string(chapter-title, first);
    writing-mode: horizontal-tb;
  }
}

/* 扉ページの設定 */
@page: nth(1) {
  margin: 0;
  background-color: #ddd;
  /* background: url("img/R1_cssbk_smp_tobirabg.png");
  background-size: calc(var(--page-width) + 6mm);
  background-repeat: no-repeat;
  background-position: -3mm; */

  @bottom-center {
    content: none;
  }
}
